<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	@{import('meta', 'default.js', 'bootstrap.min.css', 'font-awesome.min.css', 'favicon.ico')}
</head>
<body>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/contact/">Contact</a></li>
		<li><a href="/services/web-applications">Services web-applications</a></li>
		<li><a href="/services/mobile-applications">Services mobile-applications</a></li>
	</ul>

	@{body}
</body>
</html>